name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"
      - name: Install
        run: pnpm install
      - name: Core typecheck
        run: pnpm -C packages/core typecheck
      - name: Core build
        run: pnpm -C packages/core build
      - name: App lint
        run: pnpm lint
      - name: App build
        run: pnpm build
